.movie_page {
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
}

.movie_page svg {
  font-size: 1.5rem;
  color: #f7d354;
}

.movie_page .movie_card {
  text-align: center;
}

.movie_page .movie_card img,
.movie_page .movie_card h2,
.movie_page .movie_card p {
  margin-bottom: 1rem;
}

.movie_page .movie_card h2 {
  font-size: 2rem;
}

.movie_page .movie_card p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.tag {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.info {
  margin-bottom: 1.5rem;
}

.info h3 {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.description {
  padding-bottom: 10rem;
}

.description p {
  line-height: 1.4rem;
}
